$primary-color: #12D4FF;
$secondary-color: #FD3E81;
$white-color: #ffffff;
$p-color: #dadada;

$selected-color:  rgba(18, 212, 255, 0.5);

$bg-color: linear-gradient(339.77deg, #191414 35.33%, #00A3FF 114.57%);
$header-size: 4rem;
$font: 1.8rem;
