
.header-black {
    height: 75px;
    background: rgba(49, 48, 54, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(49, 48, 54, 0.2);
}



.main-nav {
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    font-size: 1.6rem;

}

.main-nav__item a {
    color: rgb(227, 227, 227);
    font-weight: 300;
    padding: 0 20px;
    text-decoration: none;
}


.main-nav__item a:active {
    font-weight: 600;
}

.logo {
    height: 65px;
}

.img-user {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    vertical-align: middle;
}

.menu {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    background: rgba(49, 48, 54, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(49, 48, 54, 0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header-content {
    width: 50vw;
    padding: 8rem 0 8rem 8rem;
}


.header-description {
    font-size: 18px;
    font-weight: 200;
    width: 480px;
    margin-top: 20px;
    margin-left: 10px;
}

.header-overview {
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 100px;
}

