.btn {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    &__primary {
        font-family: 'Roboto';
        border: 1px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        width: 180px;
        height: 45px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        &--transparent {
            border: none;
            color: $white-color;
            gap: 10px;
            width: 120px;
        }

        &--border {
          color: $white-color;
          border-color: white;

        }
    
        &--selected {
            background-color:$selected-color;
            box-shadow: 0px -1px 27px 0px rgba(156, 171, 194, 0.56);
        }
    
    }


}

  .btn-platform {
      max-width: 90px;
  }
  
  @media only screen and (max-width: 900px) {
    .btn-nav {
      display: none;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .container:hover .btn-nav {
      visibility: visible;
    }
  }

.btn-small {
  background: #4DAAE9;
  box-shadow: 0px -1px 27px rgba(156, 171, 194, 0.56);
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 2.5rem;
  cursor: pointer;

  i {
    color: white;
  }

  

}
  



  



