
.container {
    height: auto;
    position: relative;


    &:focus-within .card,
    &:hover .card {
        transform: translateX(-10%);
    }

    &:focus ~ .card,
    &:hover ~ .card {
        transform: translateX(10%);
    }

    .row {
        padding: 0 60px;

    
        &__header {
            padding-top: 20px;
        }
    
        &__slider
            {
            display: flex;
            gap: 34px;
            width: 100%;
            white-space: nowrap;
            position: relative;
            padding-bottom: 6rem;
        
            .card {
                max-width: 17.6rem;
                margin-top: 2.4rem;
                margin-top: 1.5rem;
                border-radius: 1rem;
                height: 27.2rem;
                position: relative;
                display: block;
                flex: auto;
                flex-shrink: 0;
                transition: all 0.5s ease-in-out;
                box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25);
                &__img:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 17.6rem;
                    border-radius: 1rem;
                    background: linear-gradient(180deg, rgba(0,0,0,0), black);
                }
    
                    &__title {
                        position: absolute;
                        bottom: 0;
                        padding: 20px;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        h4 {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 10px;
                    }
    
                    &:focus,
                    &:hover {
                        transform: scale(1.2);
                        z-index: 1;
                        cursor: pointer;
                    }
    
            }
        }
    
    }

}

    .w-70:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0px;
        height  : 1px;
        width   : 70%;  
        border-bottom:5px solid $secondary-color;
        margin-top:1.2em;
    }
    
    .w-50:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0px;
        height  : 1px;
        width   : 50%;  
        border-bottom:5px solid $secondary-color;
        margin-top:1.2em; 
    }
    
    .w-30:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0px;
        height  : 1px;
        width   : 30%;  
        border-bottom:5px solid $secondary-color;
        margin-top:1.2em; 
    }
    
    .icon-play-36 {
        top: 45%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 36px;
        height: 36px;
    }
    
    .section {
        background: $bg-color;
    }
    
    .magenta {
        color: $secondary-color;
    }
    
    .blue {
        color: $primary-color;
    }



.pr {
    font-size: 1.2rem;
    font-weight: 200;
}

.top {
    border: 2px solid $white-color;    
}

#home {
    font-weight: 500;
    color: $white-color;
}

.icon-21 {
    height: 21px;
    width: 21px;
    vertical-align: middle;
}
.icon-12 {
    height: 12px;
    width: 12px;
    vertical-align: middle;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 17.6rem));
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 4rem 0;
    grid-gap: 4rem 2rem;
    
    .card {
        max-width: 17.6rem;
        margin-top: 2.4rem;
        margin-top: 1.5rem;
        border-radius: 1rem;
        height: 27.2rem;
        position: relative;
        display: block;
        flex: auto;
        flex-shrink: 0;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25);
        &__img:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 17.6rem;
            border-radius: 1rem;
            background: linear-gradient(180deg, rgba(0,0,0,0), black);
        }

            &__title {
                position: absolute;
                bottom: 0;
                padding: 20px;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                h4 {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 10px;
            }

            &:focus,
            &:hover {
                transform: scale(1.2);
                z-index: 1;
                cursor: pointer;
            }

    }
}

