
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color: $white-color;
}

body {
    background: $bg-color;
}

h2 {
    font-size: 2.1rem;
    font-weight: 300;
}

h4 {
    font-size: 1.6rem;
    font-weight: 700;
}

p {
    font-size:  1.4rem;
    font-weight: 400;
    color: $p-color;
}

